apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-server
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/IvanShamoon/demo-cd-infastructure
    targetRevision: main
    path: demo-server/manifest
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true